.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  width: fit-content;
  margin: 0.8em;
  border-radius: 10px;

}